html {
  background-color: #2A2744;
  color: white;
}

#root, #root > div {
    height: 100%;
}

body, .statusbar-overlay, .navbar, .toolbar, .subnavbar {
    background: #473E6B;
    color: #ffffff;
}

.page {
    background: #2C2844;
    color: #ffffff;
}
